.main {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.imgContainer {
  border: 1px solid white;
  width: 50%;
  height: 100vh;
  position: relative;
}
.twitterContainer {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 35%;
}
.rightContainer {
  width: 30px;
  height: 30px;
  padding-left: 30px;
}
.rightContainer h2 {
  width: max-content;
}
