.main {
  width: 100vw;
  height: 97vh;
  display: flex;
  /* justify-content: space-between; */
}
.imgContainer {
  border: 1px solid white;
  height: 100%;
  position: relative;
  width: 59%;
}
.twitterContainer {
  z-index: 10;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 35%;
}
.rightContainer {
  height: 100%;
  padding-left: 40px;
  margin-top: 56px;
  width: 50%;
}
.rightContainer h2 {
  width: max-content;
}
.icone {
  width: 35px;
  transform: rotate(5deg);
  margin-left: 8px;
}
.rightContainer h1 {
  margin-top: 58px;
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 64px;
  letter-spacing: 5px;
  color: #e7e9ea;
}
.rightContainer h2 {
  font-size: 26px;
  margin-top: 50px;
  color: #e7e9ea;
}

.btnsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30.5px;
  width: 38%;
}
.btnsContainer button {
  width: 100%;
  height: 4.4vh;
  border-radius: 40px;
  background-color: white;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}
.btnsContainer button:hover {
  background-color: #e7e9ea;
}

.btnsContainer button:first-child {
  margin-bottom: 19px;
}
.btnsContainer .appleBtn {
  height: 4.75vh;
  margin-bottom: 0;
}
.btnsContainer .tel {
  background-color: #1d9bf0;
  color: white;
  height: 4.7vh;
  margin-top: 0;
}
.btnsContainer .tel:hover {
  background-color: #2e72a0;
}
.btnsContainer .tel span {
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.googleIcon {
  font-size: 22px;
  margin-right: 15px;
}
.appleIcon {
  font-size: 22px;
  margin-right: 15px;
}
.ou {
  width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #e7e9ea;
}
.ou::after {
  position: absolute;
  content: " ";
  height: 1px;
  width: 46%;
  top: 50%;
  right: 0;
  transform: translateY(50%);
  z-index: 10;
  background-color: white;
  opacity: 0.2;
}
.ou::before {
  position: absolute;
  content: " ";
  height: 1px;
  width: 46%;
  top: 50%;
  left: 0;
  transform: translateY(50%);
  z-index: 10;
  background-color: white;
  opacity: 0.2;
}

.condition {
  font-size: 9px;
  font-weight: bold;
  color: #e7e9ea;
}

.already {
  font-size: 16px;
  font-weight: bold;
}

.connectedBtn {
  color: #1d9bf0;
  width: 38%;
  height: 4.7vh;
  background-color: transparent;
  border-radius: 40px;
  font-weight: bold;
  cursor: pointer;
}
.connectedBtn:hover {
  background-color: #3a3b3b;
}
